.unicorn {
    color: #ff10f0;
    background: url(/../img/unicorn.jpg);
    background-size: contain;
}

.transparent {
    background-color: #11ffee00;
}

.btn-pink {
    background-color: #ff10f0;
}

